.switchButton {
  padding: 10px 20px;
  background: #614101;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.randomButton {
  padding: 10px 20px;
  background: #51ad32;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
